<%- include('partials/_header') %>

<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Log in!</button>
  </form>
</body>